@media (max-width: 480px) {
	/* HEADER */
	.header__total {
		padding: 20px;
	}
	.img__logo {
		height: 70px;
		margin-left: 20%;
	}
	.header__nav {
		display: none;
	}
	.header__login {
		display: flex;
		margin-right: 25%;
		gap: 10px;
	}
	.botao__acesso {
		font-size: 22px;
		border-radius: 40px;
	}
	.botao__comecar {
		font-size: 22px;
		border-radius: 40px;
	}
	/* chamda */
	.hero__section {
		flex-direction: column;
	}
	.hero__container {
		margin: 50% 0 0 80%;
	}
	.img__theproduct {
		margin: 10% 200px 40% 70%;
	}
	.hero__title__title {
		font-size: 48px;
	}
	.hero__span {
		width: 500px;
	}
	.hero_destaque {
		font-size: 40px;
	}
	.herp__subheader {
		width: 600px;
		font-size: 40px;
	}
	.hero__action {
		width: 500%;
	}
	.hero__button {
		font-size: 25px;
		width: 200px;
		height: 65px;
		padding: 2em;
		text-align: center;
	}
	.button__emphasis {
		text-align: center;
		font-size: 25px;
		width: 200px;
		height: 65px;
	}
	.hero__tagline {
		font-size: 27px;
		gap: 0;
	}
	.tagline__itens p {
		width: 400px;
	}
	.app__explicatiob {
		display: block;
		margin: 10% 200px 40% 70%;
	}
	.app__apresentation {
		margin-left: 90px;
		text-align: center;
		display: block;
		width: 400px;
	}
	.app__apresentation_cards {
		flex-direction: column;
		margin-left: 20px;
	}
	/* usability */
	.usability {
	}
	.pass__usability {
		display: block;
		margin-left: 50vh;
	}
	.usability__title {
		font-size: 30px;
		width: 300px;
	}
	.usability__paragraph {
		width: 300px;
		font-size: 27px;
	}
	.usability__functions__order {
		gap: 30px;
	}
	.usability__num {
		width: 90px;
		height: 50px;
		font-size: 25px;
	}
	.usability__text {
		font-size: 25px;
	}
	/* benefits */
	.benefits__container {
	}
	.benefits__full {
		margin-left: -30px;
	}
	.benefits__full__top {
		margin-left: -90px;
		gap: 30px;
	}
	.benefits__full__bottom {
	}
	.benefits__bottom__title {
		width: 400px;
	}
	.benefits__bottom__paragraph {
		width: 400px;
	}
	/* Plans */
	.hero__plans {
		margin-left: 350px;
		width: 400px;
	}
	.betwen__plan {
		margin-left: 550px;
		gap: 60px;
		flex-direction: column;
	}
	.chamda {
		width: 180vh;
	}
	/* footer */
	.footer__top {
	}
	.footer__icon {
		margin-top: 10px;
		width: 60px;
		height: 60px;
	}
}
