* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
:root {
	--gren-padrao: #008000;
	--preto-padrao: #000000;
	--branco-padrao: #f7f7f7fd;
	--cinza-padrao: #646464;
}
button {
	cursor: pointer;
}
/* CABECARIO */
.header__total {
	z-index: 10;
	position: fixed;
	width: 100%;
	padding: 2px;
	border: 1px solid var(--cinza-padrao);
	text-align: center;
	backdrop-filter: blur(7px);
}
.header__betwen {
	display: flex;
	justify-content: space-between;
}
.header__img {
}
.img__logo {
	padding: 1px;
	margin-left: 120%;
	height: 55px;
}
.header__nav {
	margin: 1.2em;
	justify-content: center;
}
.header__nav__link {
	font-size: 19px;
	color: var(--preto-padrao);
	text-decoration: none;
	padding: 1em;
}
.header__login {
	margin-top: 14px;
	margin-right: 10px;
}
.botao__acesso {
	margin-right: 10px;
	border: none;
	padding: 0.7em;
	border-radius: 0.4em;
}
.botao__acesso:hover {
	background-color: var(--gren-padrao);
	transition: 450ms;
	color: var(--branco-padrao);
}
.botao__comecar {
	padding: 1em;
	border: none;
	padding: 0.7em;
	border-radius: 0.4em;
	background-color: var(--gren-padrao);
	color: var(--branco-padrao);
}
.botao__comecar:hover {
	opacity: 77%;
	transition: 450ms;
}
/* CHAMDA PARA USO */
.hero__section {
	display: flex;
	justify-content: space-between;
}
.hero__container {
	padding: 15px;
	margin: 10% 0 0 250px;
}
.img__theproduct {
	box-shadow: 0 2px 6px rgba(3, 182, 21, 0.724),
		0 8px 24px rgba(0, 176, 70, 0.929);
	padding: 15px;
	margin: 10% 200px 40px 100px;
	width: 600px;
}
.hero__title {
	margin-bottom: 2%;
}
.hero__title__title {
	width: 400px;
	font-size: 40px;
}
.eazy {
	color: var(--gren-padrao);
}
.hero__span {
	margin-bottom: 1%;
	color: var(--gren-padrao);
}
.hero_destaque {
	background-color: var(--gren-padrao);
	padding: 2px;
	border-radius: 0.4em;
	color: var(--branco-padrao);
}
.herp__subheader {
	margin-bottom: 2%;
	width: 450px;
}
.hero__action {
	margin-bottom: 10px;
	display: flex;
	gap: 50px;
}
.hero__button {
	border: none;
	padding: 0.7em;
	border-radius: 0.4em;
	background-color: var(--gren-padrao);
	width: 180px;
	height: 45px;
	font-size: 12px;
}
.hero__tagline {
	margin-top: 3%;
	display: flex;
	gap: 30px;
}
.button__emphasis {
	background-color: var(--branco-padrao);
}
.button__emphasis:hover {
	background-color: var(--gren-padrao);
	transition: 450ms;
	color: var(--branco-padrao);
}
.button__gren {
	color: var(--branco-padrao);
}
.button__gren:hover {
	opacity: 77%;
	transition: 450ms;
}
.tagline__itens {
	display: flex;
	gap: 5px;
}
.bi-shield-check {
	color: var(--gren-padrao);
}
.bi-stopwatch {
	color: var(--gren-padrao);
}
/* Expicaçao */
.app__explicatiob {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.app__apresentation {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}
.app__apresentation__title {
	font-size: 42px;
}
.app__apresentation__paragraph {
	font-size: 19px;
	width: 400px;
	text-align: center;
}
/* Card */
.app__apresentation_cards {
	display: flex;
	justify-content: space-between;
	gap: 25px;
}
.card {
	border-radius: 20px;
	display: flex;
	height: 150px;
	width: 300px;
	padding: 4em 8em;
	flex-direction: column;
	justify-content: space-between;
	background-color: #eaeaea;
}
.card:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	transition: 0.3s;
}
.card:hover .card__icon {
	background-color: #62d97c;
	color: #008000;
}
.card__destauqe {
	text-align: center;
	margin-bottom: 20px;
}

.card__icon {
	border-radius: 14px;

	padding: 1em;
	background-color: #cdfdcd;
	color: var(--gren-padrao);
}

.card__text {
	text-align: center;
}
.card__title {
	font-size: 24px;
	width: 330px;
}
.card__paragraph {
}
/* COMO USAR */
.pass__usability {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.usability__title {
	font-size: 30px;
}
.usability__paragraph {
	font-size: 24px;
}
.usability__exemple__text {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
	align-items: center;
	text-align: left;
}
.usability__functions {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 70px;
}
.usability__functions__order {
	margin-left: 400px;
	display: flex;
	gap: 10px;
}
.usability__num {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--gren-padrao);
}
.usability__text {
}
.usability__exemple {
	margin-right: 400px;
}
/* Beneficios */

.benefits__full__top {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.benefits__bottom__title {
	width: 400px;
}
.benefits__bottom__paragraph {
	width: 400px;
}
.benefits__gap {
	margin-left: 200px;
	grid-template-areas:
		'card1 img card2'
		'card3 img card4';
	display: grid;
	gap: 20px;
	align-items: center;
	justify-content: center;
	position: relative;
}
.full__benefits {
	display: flex;
	align-items: center;
	margin-left: 200px;
}
.img__center_benefits {
	grid-area: img;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	color: var(--gren-padrao);
}
.benefits__card {
	background-color: #eaeaea;
	width: 200px;
	height: 140px;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	transition: 0.3s;
}
.benefits__card:hover {
	transform: scale(1.6);
	z-index: 5;
}

.benefits__card__item {
	display: flex;
	align-items: center;
	justify-content: left;
	text-align: center;
}
.benefits__point {
	display: flex;
	margin: 1em;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--gren-padrao);
}
.balance__benefits {
	width: 200px;
	height: 200px;
	opacity: 30%;
}
.benefits__title {
	text-align: left;
	width: 180px;
	height: 30px;
	font-size: 12px;
}
.benefits__card__paragraph {
	font-size: 13x;
}
.benefits__paragraph {
	text-align: center;
	font-size: 13x;
}

.benefits__card:nth-child(2) {
	grid-area: card1;
}
.benefits__card:nth-child(3) {
	grid-area: card2;
}
.benefits__card:nth-child(4) {
	grid-area: card3;
}
.benefits__card:nth-child(5) {
	grid-area: card4;
}
.benefits__full__bottom {
	margin-right: 250px;
}
.benefits__bottom__title {
	font-size: 38px;
	font-weight: bold;
	width: 600px;
	color: #3c3c3c;
	margin-bottom: 20px;
}
.benefits__bottom__paragraph {
	font-size: 20px;
	width: 600px;
}
/* Planos */
.hero__plans {
	margin-top: 100px;
	text-align: center;
	margin-bottom: 100px;
}
.betwen__plan {
	align-items: center;
	justify-content: center;
	display: flex;
	gap: 30px;
}
.plans {
}
.choice__plan {
}
.card__plan {
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--preto-padrao);
	background-color: #eaeaea;
	height: 600px;
	width: 350px;
}
.plan__title {
	margin-top: 30px;
	text-align: center;
}
.plan__title_title {
}
.plan__title_paragraph {
	margin-top: 10px;
}
.plan__price {
	margin-top: 20px;
}
.plan__price__value {
	font-size: 30px;
}
.plan_timer {
}
.plan__benefitis {
	margin-top: 30px;
	margin-left: 23px;
	text-align: left;
	color: var(--preto-padrao);
}
.ul__plan__benefits {
	text-align: left;
	width: 300px;
}
.plan__benefitis__iten {
	display: flex;
	font-size: 14px;
	text-decoration: double;
	list-style: none;
	text-align: left;
}
.tosing__button {
	height: 35px;
	width: 300px;
}
.buton_comora {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon_check {
	font-size: 27px;
	margin-right: 7px;
	color: var(--gren-padrao);
}
.plan__recomendado {
	position: relative;
	border: 2px solid var(--gren-padrao);
}
.plan__recomendado__title {
	border: 1px solid var(--gren-padrao);
	position: absolute;
	font-size: 18px;
	left: 50%;
	width: 120px;
	border-radius: 20px;
	transform: translate(-50%, -50%);
	font-weight: bold;
	background-color: var(--gren-padrao);
	text-align: center;
}
.buutton_plan__recomendado {
	border-radius: 0.4em;
	color: var(--branco-padrao);
	background-color: var(--gren-padrao);
}
.buutton_plan__recomendado:hover {
	opacity: 77%;
	transition: 450ms;
}
.tosing__button {
	border: 1px solid rgb(195, 195, 195);
	border-radius: 0.4em;
}
.tosing__button:hover {
	background-color: var(--gren-padrao);
	transition: 450ms;
	color: var(--branco-padrao);
}
/* CHMADA */
.chamda {
	gap: 50px;
	margin-top: 70px;
	height: 400px;
	width: 100%;
	background-color: var(--gren-padrao);
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.chamda__conteudo {
	gap: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.chamada__h1 {
	color: var(--branco-padrao);
	font-size: 50px;
}
.chamda__p {
	width: 90%;
	font-size: 25px;
}
.chamda__button {
	border: 1px solid rgb(195, 195, 195);
	border-radius: 0.4em;
	height: 60px;
	width: 300px;
	font-size: 19px;
}
.chamda__button:hover {
	transition: 200ms;
	background-color: #dad7d7;
}
/* FOOTER */
.container__footer {
	margin-top: 50px;
}
.footer__top {
	margin: 0 240px 0 180px;
	justify-content: space-between;
	display: flex;
	margin-bottom: 90px;
}
.footer_logo {
	justify-content: center;
	display: flex;
	gap: 14px;
}
.footer__icon {
	text-align: center;
	width: 50px;
	border-radius: 10px;
	color: var(--branco-padrao);
	background-color: #008000;
	font-size: 40px;
}
.footer__span {
	font-size: 40px;
}
.footer__entreprise {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	justify-content: left;
	gap: 10px;
}
.footer__paragraph {
	text-align: left;
	font-size: 24px;
	width: 300px;
}
.footer__h4 {
	margin-bottom: 25px;
	font-size: 26px;
}
.footer__ul {
}
.footer__li {
	list-style: none;
	font-size: 24px;
	margin-bottom: 10px;
}

.footer__img {
	width: 300px;
	height: 100px;
}
.footer__elements {
	display: flex;

	flex-direction: column;
	text-align: left;
	background-color: #fffefe;
}
.footer__bottom {
	border-top: 1px solid #000000;
	font-size: 24px;
	text-align: center;
	padding: 3em;
}
/* Btn login */
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
}
.modal-content {
	background: white;
	padding: 6rem;
	border-radius: 10px;
	text-align: center;
	position: relative;
	animation: fadeIn 0.3s ease;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.close {
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 22px;
	cursor: pointer;
}

@keyframes fadeIn {
	from {
		transform: scale(0.8);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.google-btn {
	margin-top: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 10px;
	cursor: pointer;
	justify-content: center;
	transition: 0.2s;
}
.img__google {
	width: 20px;
	height: 20px;
}

.google-btn:hover {
	background: #f7f7f7;
}
.form__login {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}
.login__input {
	width: 250px;
	height: 30px;
	margin-bottom: 10px;
}
.login__login {
	border: 1px solid #ddd;
	border-radius: 6px;
	font-size: 15px;
	background-color: #02bd02;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 30px;
	width: 150px;
}
.login__login:hover {
	opacity: 90%;
}
.login__header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}
.img__logo__login {
	width: 150px;
	z-index: 1000;
}
.create__header {
	display: flex;
	gap: 20px;
	align-items: center;
	flex-direction: column;
}
.create__login {
	display: flex;
	flex-direction: column;
}
.close__2 {
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 22px;
	cursor: pointer;
}
.modal__create {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
}
/* .dadosPessoaiss {
	display: flex;
	flex-direction: column;
	gap: 10px;
} */
.create__dados {
	height: 20px;
	width: 300px;
}
/* .create__betwen {
	display: flex;
	gap: 50px;
	margin-bottom: 50px;
} */
/* .create__age {
	display: flex;
	flex-direction: column;
} */
.dados__login {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.create__input {
	width: 250px;

	height: 30px;
	margin-bottom: 10px;
}
.create__button {
	margin-top: 20px;
	justify-content: center;
	width: 50px;
	border: 1px solid #ddd;
	border-radius: 6px;
	font-size: 15px;
	background-color: #02bd02;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 30px;
	width: 150px;
}
.submit__input {
	align-items: center;
	gap: 10px;
	display: flex;
	flex-direction: column;
}
.linha {
	display: flex;
	align-items: center;
	gap: 8px;
}
.linha__vertical {
	background-color: #000000;
	width: 90px;
	height: 0;
	border: 1px solid #000000;
	text-align: center;
}
.linha__vertical__text {
}
.card__plan:hover {
	transition: 200ms;
	transform: scale(1.03);
}
.plan__recomendado {
	transform: scale(1.05); /* aumenta 5% */
	box-shadow: 0 2px 6px rgba(3, 182, 21, 0.724),
		0 8px 24px rgba(0, 176, 70, 0.929);
}
.plan__recomendado:hover {
	transform: scale(1.07);
}
.plan__recomendado__title {
	color: rgb(255, 255, 255);
}

@keyframes brilho {
	from {
		text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
	}
	to {
		text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff;
	}
}

.password__esqueci {
	color: var(--gren-padrao);
	font-size: 12px;
	margin-right: auto;
	text-decoration: none;
	margin-bottom: 10px;
}
.botao__criar__conta {
	color: var(--gren-padrao);
	text-decoration: none;
}
.already__acount__div {
	display: flex;
	gap: 5px;
}
.paragraph__acount {
	font-size: 12px;
}
.already__acount {
	color: var(--gren-padrao);
	font-size: 12px;
	text-decoration: none;
	margin-bottom: 10px;
}
